table {
    border:1px solid grey;
    border-collapse: collapse;
}

button {
    cursor: pointer;
}
table td {
    border: 1px solid black;
    padding: 5px;
}
table th {
    border: 1px solid black;
    padding: 3px;
}
table th {
    border: 1px solid black;
    padding: 3px;
    background-color: darkcyan;
}